
<%- include("partials/header"); -%>



<h1>Home</h1>

<p> <%= Content1HTML %>  </p>

<p></p>
<%= console.log("In the home.ejs page") %>

<% arrHTML.forEach(function(item) {  %>
    <a href="http://localhost:3000/posts/<%= item.title %>"> <h1>  <%= item.title %>  </h1>  </a>
     <p>   <%= item.textarea %> </p>
<% })  %>


<%- include("partials/footer"); -%>











